.git
.github
.vscode
.idea
node_modules
dist
logs
coverage
.nyc_output
tmp
src/tmp
.env
*.md
!README.md
Dockerfile.old
test
img
grafana.ini
prometheus.yml
datasources.yml
launch-*.sh
.DS_Store
.node-xmlhttprequest-*
**/.git
