{
  "source": {
    "node": "54.171.218.115",
    "port": 4444
  },
  "server": {
    "port": 3003
  },

  "erc20": {
    "tokens": [
      {
        "shortName": "GNT",
        "address": "0xa74476443119a942de498590fe1f2454d7d4ac0d",
        "decimals": 18,
        "name": "Golem Network Token",
        "description": "Golem Network Token",
        "totalSupply": -1
      }
    ]
  }
}
